<div class="container">
    <mat-toolbar>
        <div class="mat-display-1">Techno-Shop</div>
        <button mat-stroked-button class="_catalogue_btn"> Каталоґ </button>
    
        <button mat-stroked-button class="_search_btn">
            <mat-icon> search </mat-icon>
        </button>
        <mat-form-field floatLabel="never">
            <mat-label> Пошук </mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-stroked-button class="_delete_btn">
            <mat-icon> close </mat-icon>
        </button>
    
        <button mat-stroked-button class="_login_btn"> Увійти </button>
        <button mat-stroked-button class="_cart_btn"> Кошик </button>
        <button mat-stroked-button class="_user_btn">
            <mat-icon> person </mat-icon>
        </button>
    </mat-toolbar>

    <div class="banner">
        <app-img-slider></app-img-slider>
    </div>

    <div class="product_text">
        <p>Найгарячіші пропозиції</p>
    </div>

    <div class="product_cards_list">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
    <br>

    <div class="subscr_text">
        <p>
            <span>Підписуйтесь на наші новини та отримуйте найсвіжішу інформацію</span>
        </p>
        <p>
            <span> щодо новинок в світі гаджетів та електроніки!</span>
        </p>
    </div>
    <div class="mailsub">
        <button mat-raised-button> Підписатися </button>
        <mat-form-field color="accent" appearance="outline">
            <mat-label> Введіть пошту </mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <app-footer></app-footer>
    
</div>
