@import '../../variables';


.container {
    width: 100%;

    & .product_text {
        margin: 24px 20px;
        text-align: left;
        font-size: 1.9rem;
        font-weight: bold;
    }

    & .product_cards_list {
        display: flex;
        flex-direction: row;
    }

    & .mailsub {
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: rgb(232, 232, 232);
        color: black;
        padding: 24px 0;

        & button {
            background-color: #fff;
            color: $ButtonPrimaryColor;
            margin-right: 24px;
            height: 40px;
        }

        & mat-form-field {
            width: 30%;
            box-sizing: border-box;

            & mat-label {
                color: black;
            }
        }
    }

    & .subscr_text {
        margin: 24px 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
    }
}

button {
    color: $ButtonPrimaryColor;
    font-size: 1rem;
    font-weight: bold;
}

mat-toolbar {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(255, 255, 255);
    color: black;


    & .mat-display-1 {
        margin-left: 64px;
        margin-bottom: 0;
        color: black;
    }

    & button {
        margin-left: 12px;
        border: 1px solid $ButtonPrimaryColor;
    }

    & mat-form-field {
        width: 30%;
    }

    & ._catalogue_btn {
        margin-left: 32px;
    }

    & ._search_btn {
        margin-left: 80px;
        border: none;
        padding: 0;
    }

    & ._delete_btn {
        border: none;
        margin: 0;
        padding: 0;
    }

    & ._login_btn {
        margin-left: 64px;
    }

    & ._user_btn {
        border: none;
        padding: 0;
    }
}