@import 'D:/University/Diplom/techno-shop/src/_variables.scss';


.container {
    width: 100%;
}

button {
    color: $ButtonPrimaryColor;
    font-size: 1rem;
    font-weight: bold;
}

mat-toolbar {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(255, 255, 255);
    color: black;


    & .mat-display-1 {
        margin-left: 64px;
        margin-bottom: 0;
        color: black;
    }

    & button {
        margin-left: 12px;
        border: 1px solid $ButtonPrimaryColor;
    }

    & mat-form-field {
        width: 30%;
    }

    & ._catalogue_btn {
        margin-left: 32px;
    }

    & ._search_btn {
        margin-left: 80px;
        border: none;
        padding: 0;
    }

    & ._delete_btn {
        border: none;
        margin: 0;
        padding: 0;
    }

    & ._login_btn {
        margin-left: 64px;
    }

    & ._user_btn {
        border: none;
        padding: 0;
    }
}