<div class="mat-display-4">Techno-Shop</div>
<div class="mat-display-2">Your Add here</div>
<div class="mat-display-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
<div class="mat-display-3">Welcum</div>
<h3>Last test</h3>
<button mat-raised-button color="primary" (click)="touched()"> TOUCH ME !!!
    <span class="material-icons">touch_app</span>
</button>
<app-shopping-cart></app-shopping-cart>
<app-catalogue></app-catalogue>
<app-account-page></app-account-page>
<app-login-popup></app-login-popup>
<app-product-card></app-product-card>
<app-signin-popup></app-signin-popup>