 <div class="container">
        <div class="footer__inner">
			<div class="footer_info">
                <div class="footer_title">
                    ІНФОРМАЦІЯ ПРО НАС
                </div>
                <div class="footer_subtitle">
                    БЛАБЛАБЛА
                </div>
                <div class="footer_title">
                    СОЦМЕРЕЖІ
                </div>
                <div class="footpic">
                    <img src="../../../assets/svg/facebook.svg" alt="">
                    <img src="../../../assets/svg/instagram.svg" alt="">
                    <img src="../../../assets/svg/twitter.svg" alt="">
                    <img src="../../../assets/svg/youtube.svg" alt="">
                </div>    
            </div>
        </div>
      </div>